<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Femi Adeyinka</title>


  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/17d35ba64b.js" crossorigin="anonymous"></script>


  <!-- Bootstrap Scripts -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>


  <!-- W3 Schools CSS stylesheet -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <!-- CSS Stylesheet -->
  <link rel="stylesheet" href="styles/main.css">
  <link rel="icon" href="images/favicon.png">

</head>

<body>
  <!-- Nav Bar -->
  <nav class="navbar navbar-expand-lg navbar-dark spacing">
    <svg class="shift-left" width="40" height="40" viewBox="0 0 300 300" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="150" cy="150" r="150" fill="black" />
      <path
        d="M84.3148 219.225C78.9482 218.758 75.6232 217.3 74.3398 214.85C73.0565 212.4 72.4148 209.25 72.4148 205.4C72.4148 201.2 73.2898 196.067 75.0398 190C76.7898 183.817 78.9482 177.108 81.5148 169.875C84.1982 162.642 86.8815 155.408 89.5648 148.175C87.4648 148.292 85.0732 148.525 82.3898 148.875C79.8232 149.225 75.7398 149.808 70.1398 150.625C70.3732 146.192 72.6482 143.1 76.9648 141.35C81.3982 139.483 86.7648 138.492 93.0648 138.375C96.3315 129.392 99.6565 120.642 103.04 112.125C106.54 103.492 109.982 95.6167 113.365 88.5C112.198 88.3833 111.032 88.325 109.865 88.325C108.815 88.2083 107.707 88.15 106.54 88.15C99.0732 88.15 93.2982 88.9083 89.2148 90.425C85.1315 91.9417 82.3315 94.275 80.8148 97.425C79.2982 100.575 78.5398 104.6 78.5398 109.5C78.5398 114.283 79.2982 118.892 80.8148 123.325C76.8482 122.625 73.9315 121.108 72.0648 118.775C70.1982 116.325 69.2648 113.292 69.2648 109.675C69.2648 103.608 71.4232 98.3 75.7398 93.75C80.0565 89.0833 85.8315 85.4667 93.0648 82.9C100.415 80.2167 108.523 78.875 117.39 78.875C123.573 78.875 129.523 79.3417 135.24 80.275C141.073 81.0917 146.732 81.5 152.215 81.5C156.882 81.5 161.198 80.9167 165.165 79.75C160.848 84.65 157.232 87.9167 154.315 89.55C151.398 91.1833 148.423 92 145.39 92C142.707 92 139.207 91.65 134.89 90.95C130.69 90.1333 125.907 89.4917 120.54 89.025C119.023 92.875 117.332 97.5417 115.465 103.025C113.598 108.392 111.673 114.167 109.69 120.35C107.707 126.417 105.723 132.483 103.74 138.55C109.573 138.9 115.057 139.425 120.19 140.125C125.44 140.825 130.165 141.233 134.365 141.35C133.432 142.75 132.323 143.858 131.04 144.675C129.873 145.375 128.182 145.9 125.965 146.25C123.748 146.6 120.657 146.892 116.69 147.125C112.84 147.242 107.648 147.358 101.115 147.475C100.415 149.925 99.5398 152.842 98.4898 156.225C97.4398 159.608 96.5065 162.817 95.6898 165.85C94.8732 168.883 94.2315 171.1 93.7648 172.5C91.1982 181.483 88.9815 189.883 87.1148 197.7C85.3648 205.517 84.4315 212.692 84.3148 219.225ZM141.696 219.225C139.129 217.708 137.496 216.075 136.796 214.325C136.096 212.692 135.746 211.292 135.746 210.125C135.746 206.858 136.912 202.425 139.246 196.825C141.696 191.225 144.904 184.867 148.871 177.75C152.954 170.517 157.446 163.05 162.346 155.35C158.029 155 154.354 154.767 151.321 154.65C148.287 154.533 145.662 154.475 143.446 154.475H137.321C138.604 151.092 140.821 148.758 143.971 147.475C147.237 146.075 151.087 145.375 155.521 145.375C157.504 145.375 159.546 145.492 161.646 145.725C163.746 145.958 165.904 146.25 168.121 146.6C174.071 137.617 180.137 128.925 186.321 120.525C192.621 112.008 198.454 104.483 203.821 97.95C209.304 91.3 213.854 86.2833 217.471 82.9C220.854 79.6333 223.654 78 225.871 78C228.321 78 231.412 79.8667 235.146 83.6C233.979 84.5333 232.462 87.0417 230.596 91.125C228.846 95.0917 226.921 100.108 224.821 106.175C222.837 112.242 220.854 118.892 218.871 126.125C216.887 133.358 215.021 140.767 213.271 148.35C211.637 155.817 210.296 162.933 209.246 169.7C208.312 176.467 207.846 182.417 207.846 187.55C207.846 191.983 208.312 195.425 209.246 197.875C210.296 200.325 211.987 201.55 214.321 201.55C217.354 201.55 220.796 199.45 224.646 195.25C228.496 191.05 232.696 184.517 237.246 175.65L238.996 177.4C235.496 186.733 231.004 194.375 225.521 200.325C220.154 206.275 214.554 209.25 208.721 209.25C203.937 209.25 200.437 207.15 198.221 202.95C196.121 198.633 195.071 192.917 195.071 185.8C195.071 178.333 196.062 169.642 198.046 159.725C192.912 158.908 188.187 158.267 183.871 157.8C179.671 157.217 175.762 156.692 172.146 156.225C166.662 166.375 161.296 176.817 156.046 187.55C150.912 198.283 146.129 208.842 141.696 219.225ZM199.271 153.6C201.021 145.9 203.062 138.142 205.396 130.325C207.729 122.392 210.179 114.867 212.746 107.75C215.429 100.633 217.937 94.3917 220.271 89.025C216.654 91.2417 212.454 95.2083 207.671 100.925C203.004 106.525 198.046 113.408 192.796 121.575C187.546 129.625 182.179 138.492 176.696 148.175C180.662 148.992 184.571 149.925 188.421 150.975C192.387 151.908 196.004 152.783 199.271 153.6Z"
        fill="white" />
    </svg>

    <!-- <p>(how do you like this idea)</p> -->
  </nav>

  <div class="container-fluid">


    <h1 class="big-heading check">femi adeyinka</h1>
    <!-- <p class="font-change">instagram-->
    <a href="https://www.instagram.com/feminevermind/"><i class="fab fa-lg fa-instagram space shifting check"></i></a>
    <a href="mailto:femi@fastmail.com"><i class="fas fa-lg fa-envelope space shifting check"></i></a>
    <a href="https://www.36-states.com/" target="_blank" rel="noopener noreferrer"> <img class="calm-down" src="images/36states.png" alt="36-States"></a>


    <div class=" biography ">

      <li class="bio">born. '87</li>

      <li class="bio">bba - york university, schulich ssb</li>

      <li class="bio">ca, kpmg</li>



    </div>




    <hr>



    <div class="row">
      <div class="col-lg-4 column">
        <p>doing</p>

        <button onclick="document.getElementById('id07').style.display='block'" class="btn btn-sm btn-block btn-outline-dark col-12 shift shift-up">writing</button>

        <div id='id07' class="w3-modal">
          <div class="w3-modal-content w3-animate-opacity">
            <header class="w3-container">
              <span onclick="document.getElementById('id07').style.display='none'" class="w3-button w3-display-topright">&times;</span>
              <h2 class="header-adjust"> writing </h2>
            </header>
            <div class="w3-container">
              <span onclick="document.getElementById('id07').style.display='none'" class="w3-button w3-display-topright">&times;</span>
              <ul>
                <p> thoughts on media, culture, and business --> <a class="clean" href="https://www.36-states.com/"  target="_blank" rel="noopener noreferrer">blog</a></p>
              </ul>
            </div>
          </div>
        </div>



        <button onclick="document.getElementById('id01').style.display='block'" class="btn btn-sm btn-block btn-outline-dark col-12 shift ">reading</button>

        <div id='id01' class="w3-modal">
          <div class="w3-modal-content w3-animate-opacity">
            <header class="w3-container">
              <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
              <h2 class="header-adjust"> reading </h2>
            </header>
            <div class="w3-container">
              <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
              <ul>
                 <% do_reading.forEach(book =>{%>
                <p>
                    <%=book %>
                </p>
               <% }); %>
              </ul>
            </div>
          </div>
        </div>


        <button onclick="document.getElementById('id03').style.display='block'" class="btn btn-sm btn-block btn-outline-dark  col-12 shift">music</button>

        <div id='id03' class="w3-modal">
          <div class="w3-modal-content w3-animate-opacity">
            <header class="w3-container ">
              <span onclick="document.getElementById('id03').style.display='none'" class="w3-button w3-display-topright">&times;</span>
              <h2 class="header-adjust"> music </h2>
            </header>
            <div class="w3-container">
              <span onclick="document.getElementById('id03').style.display='none'" class="w3-button w3-display-topright">&times;</span>
              <ul>
                <% do_music.forEach(album =>{%>
                <p>
                    <%=album %>
                </p>
               <% }); %>
              </ul>
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-4 column">
        <p>giving</p>

        <button onclick="document.getElementById('id05').style.display='block'" class="btn btn-sm btn-block btn-outline-dark col-12 shift shift-up">mercer union</button>

        <div id='id05' class="w3-modal">
          <div class="w3-modal-content w3-animate-opacity">
            <header class="w3-container">
              <span onclick="document.getElementById('id05').style.display='none'" class="w3-button w3-display-topright">&times;</span>
              <h2 class="header-adjust"> <a class="clean" href="https://www.mercerunion.org/"  target="_blank" rel="noopener noreferrer"><u>mercer union</u></a></h2>
            </header>
            <div class="w3-container">
              <span onclick="document.getElementById('id05').style.display='none'" class="w3-button w3-display-topright">&times;</span>
              <ul>
                <p>mercer union, a centre for contemporary art </p>
              </ul>
            </div>
          </div>
        </div>

        <button onclick="document.getElementById('id06').style.display='block'" class="btn btn-sm btn-block btn-outline-dark col-12 shift">business in the streets</button>

        <div id='id06' class="w3-modal">
          <div class="w3-modal-content w3-animate-opacity">
            <header class="w3-container">
              <span onclick="document.getElementById('id06').style.display='none'" class="w3-button w3-display-topright">&times;</span>
              <!-- draw something to show that the header is a link -->
              <h2 class="header-adjust"> <a class="clean" href="http://www.businessinthestreets.com/"  target="_blank" rel="noopener noreferrer"><u>b.i.t.s </u></a></h2>
            </header>
            <div class="w3-container">
              <span onclick="document.getElementById('id06').style.display='none'" class="w3-button w3-display-topright">&times;</span>
              <ul>
                <p>business in the streets (bits)</p>
              </ul>
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-4 column">
        <p>done</p>


        <button onclick="document.getElementById('id08').style.display='block'" class="btn btn-sm btn-block btn-outline-dark col-12 shift shift-up">reading</button>

        <div id='id08' class="w3-modal">
          <div class="w3-modal-content w3-animate-opacity">
            <header class="w3-container">
              <span onclick="document.getElementById('id08').style.display='none'" class="w3-button w3-display-topright">&times;</span>
              <h2 class="header-adjust"> reading </h2>
            </header>
            <div class="w3-container">
              <span onclick="document.getElementById('id08').style.display='none'" class="w3-button w3-display-topright">&times;</span>
              <ul>
                 <% done_reading.forEach(book =>{%>
                <p>
                    <%=book %>
                </p>
               <% }); %>
                 </ul>
            </div>
          </div>
        </div>

        <button onclick="document.getElementById('id04').style.display='block'" class="btn btn-sm btn-block btn-outline-dark col-12 shift ">coding</button>

        <div id='id04' class="w3-modal">
          <div class="w3-modal-content w3-animate-opacity">
            <header class="w3-container">
              <span onclick="document.getElementById('id04').style.display='none'" class="w3-button w3-display-topright">&times;</span>
              <h2 class="header-adjust"> coding </h2>
            </header>
            <div class="w3-container">
              <span onclick="document.getElementById('id04').style.display='none'" class="w3-button w3-display-topright">&times;</span>
              <ul>
                <p>link to github: <a class="clean" href="https://github.com/adeyfemi"  target="_blank" rel="noopener noreferrer">adeyfemi</a></p>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<footer>
<!-- <span id="siteseal"><script class ="unseen" async type="text/javascript"
  src="https://seal.godaddy.com/getSeal?sealID=9pYvkL2t5nswdOcote4nUGSWAIjte28XuEJYkMekYeYsaauYTECqiKfZa2NS">
</script></span> -->
</footer>
</html>
